<h1>Your stupid coach</h1>

<p>Hello, I am your coach, what did you want to tell me?</p>

<form action="/answer" method="get">
  <%#= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
