<div class="col-xs-12 col-sm-4">
  <% if resource.photo? %>
    <div class="card"
        style="
        background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.2)),
        url('<%= cl_image_path resource.photo.path, height: 300, width: 400, crop: :fill %>')">
      <div class="card-content">
        <div class="card-description">
         <h2 style="color: black"> <%= link_to resource.name, cocktail_path(resource) %></h2>
        </div>
      </div>
    </div>

  <% else %>
    <div class="card"
        style="
        background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.6)),
         url('<%= image_path "photo_placeholder.png", height: "300px", width: "auto" %>')">
      <div class="card-content">
        <div class="card-description">
          <h2>
          <%= link_to resource.name, cocktail_path(resource) %>
          </h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
